:root {
    --azulEscuro: #14283e ;
    --azulMedio: #216082;
    --azulClaro: #97DAFE ;
    --cinzaClaro: #cccccc;
    --cinzaMedio: #858585 ;
}
/* estilo */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
    overflow-x: hidden;
    overflow-y:scroll ;
}


/* header */
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
} 

footer {
    position: absolute;
    left: 0;
    right: 0;
}

.margin-70{
    padding-top: 80px;
}

/*  */
p {
    font-size: 1.2rem;
    width: 90%;
    margin: auto;
}
p i {
    color: black;
}

.main-title {
    color: var(--azulEcuro);
    font-size: 3rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.secundary-title {
    font-size: 2rem;
    color: var(--azulEcuro);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
}

.main-title span, .secundary-title span {
    border-bottom:solid var(--azulEcuro) 3px;
}
/* seçoes */
section{
    margin-top: 50px;
}

/*contato*/
#contato p a{
    color: var(--azulEcuro);
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}
#contato p a:hover {
    background-color: var(--azulEcuro);
    color: var(--azulClaro);
}